__pycache__/
*.py[cod]
.venv/
.collector_packages/
.env
.ipynb_checkpoints/
data/raw/**
!data/raw/**/
!data/raw/**/.gitkeep
data/interim/**
!data/interim/.gitkeep
data/processed/**
!data/processed/.gitkeep
data/logs/
/logs/
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
!reports/figures/*.png
reports/tables/*
!reports/tables/.gitkeep
!reports/tables/*.csv
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
/qm640_parallel_data_collectors/
