__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/
data/raw/*
!data/raw/**/
!data/raw/**/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
reports/tables/*
!reports/tables/.gitkeep
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
